* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", system-ui, sans-serif;
}

:root {
  --border-color: #c7c7c7;
  --sidebar-background-color: #f2f2f2;
  --text-color-grey: #7c7c7c;
  --border-radius: 7px;
  --color-warning: #e10000;
  --color-blue: #216ec4;
}

.content_wrapper {
  display: flex;
}

/* sidebar */

#sidebar {
  overflow: auto;
  background: var(--sidebar-background-color);
  padding: 20px 20px 0px 20px;
  height: 100vh;
  width: 50vw;
  min-width: 350px;
  max-width: 65vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 999;
}

#sidebar-resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  background: #afafaf;
}

/* sidebar profile row */

.sidebar_top {
  display: flex;
  justify-content: space-between;
}

.sidebar_round_button {
  border: 1px solid var(--border-color);
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar_round_button img {
  width: 25px;
}

/* sidebar sorting and filtering */

.sidebar_sort {
  display: flex;
  gap: 15px;
}

.sidebar_sort > div {
  display: flex;
  gap: 10px;
  background-color: white;
  border: 1px solid var(--border-color);
  padding: 7px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar_sort p {
  text-wrap: nowrap;
  color: var(--text-color-grey);
}

/* sidebar restaurant */

.sidebar_restaurants_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  /* padding-right: 18px; */
}

.restaurants_list_restaurant {
  background-color: #fff;
  border: 1px solid var(--border-color);
  padding: 15px;
  position: relative;
}

.restaurants_list_restaurant.selected-restaurant {
  border-color: var(--color-blue);
}

.restaurant_title_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.restaurant_title_row img {
  width: 20px;
  cursor: pointer;
}

.restaurant_info_section_container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.restaurant_info_section_container > div {
  display: flex;
  gap: 8px;
}

.restaurant_info_section_container p {
  color: var(--text-color-grey);
}

.restaurant_service_provider_row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service_provider_logo img {
  width: 100px;
}

.menu_dropdown {
  display: flex;
  align-items: baseline;
  gap: 6px;
  cursor: pointer;
}

.menu_dropdown_arrow {
  width: 15px;
  transition: transform 0.2s;
}

/* menu popup */
.restaurant_menu_popup {
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 101%;
  margin-left: -1px;
  left: 0;
  margin-top: 16px;
  max-height: 600px;
  /* max-height: 100vh; */
  overflow-y: scroll;
  padding: 0px 15px 15px 15px;
  border: 1px solid var(--border-color);
}

.restaurants_list_restaurant.selected-restaurant .restaurant_menu_popup {
  border-color: var(--color-blue);
}

.restaurant_menu_popup > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu_buttons {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
  flex: 1 1 auto;
  overflow-y: auto;
  max-height: 400px;
  min-height: 0;
  padding-top: 20px;
  background-color: white;
}

.menu_title {
  font-weight: normal;
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.menu_ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu_item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu_item_title_row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.menu_item_title {
  font-weight: 500;
}

.menu_item_price {
  color: var(--text-color-grey);
  white-space: nowrap;
}

.menu_diets {
  color: #7c7c7c;
}

/* weekly menu */
.weekly_menu_day {
  margin-bottom: 40px;
}

.weekly_menu_day h2 {
  margin-bottom: 10px;
}

.weekly_menu_day ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Highlight selected menu button */
.menu_buttons .selected {
  background-color: var(--color-blue);
  color: #fff;
}

.restaurant_menu_popup button {
  border: 2px solid var(--border-color);
  padding: 8px 20px;
  background-color: white;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* leaflet map */
.map_section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
}

/* Modal */

dialog {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: none;
  padding: 20px;
  width: 600px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.632);
}

[data-close-modal] {
  background: none;
  border: none;
  color: var(--text-color-grey);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile_title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 200;
}

.profile_section {
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: var(--border-radius);
}

.profile_basic_info_row {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.top_row_profile_picture {
  width: 50%;
}

.profile_picture_wrapper {
  margin: 0 auto;
}

.profile_picture {
  width: 80px;
  height: 80px;
  background-color: lightgray;
  border-radius: 50%;
}

.profile_picture_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

dialog button {
  color: white;
  padding: 5px 15px;
  display: flex;
  gap: 10px;
  border: none;
  cursor: pointer;
}

.profile_picture_container button:hover {
  opacity: 0.7;
}

.profile_picture_container > div {
  display: flex;
  justify-content: space-between;
}

[data-upload-profile] {
  background-color: var(--color-blue);
}

[data-delete-profile] {
  background-color: var(--color-warning);
}

.profile_basic_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.profile_basic_info > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

dialog input {
  padding: 5px 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

/* modal change password section */

.change_password_title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 200;
}

.change_passwords_inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.change_passwords_inputs > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change_passwords_inputs span {
  color: var(--color-warning);
}

.profile_change_password input[type="submit"] {
  color: white;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  background-color: var(--color-blue);
  border-radius: 0;
  margin-top: 20px;
}

.profile_bottom_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

[data-sign-out] {
  border: 2px solid black;
  background-color: #fff;
  color: black;
  font-weight: bold;
}

[data-save-changes] {
  background-color: var(--color-blue);
}
